body {
    font-family: 'Lato', sans-serif;
    background-color: #fcfeff;
}

.pricing-plan {
    padding: 80px 0;
    margin-bottom: 80px;

    .wrapper {
        max-width: 1220px;
        margin: 0 auto;
        padding: 0 40px;

        .content {
            max-width: 700px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 80px;

            .large-heading {
                text-transform: capitalize;
                font-size: 58px;
                font-weight: 900;
                margin-bottom: 20px;
                line-height: 1.4;
                color: #142c5b;
            }

            .label {
                font-size: 18px;
                font-weight: 500;
                color: #8695ad;
            }
        }

        .pricing-tab {
            text-align: center;
            background-color: #eff6fc;
            padding: 8px;
            max-width: max-content;
            margin: 0 auto;
            border-radius: 16px;
            margin-bottom: 80px;

            .btn {
                padding: 14px 30px;
                text-transform: capitalize;
                border-radius: 8px;
                font-weight: 600;
                transition: background-color 200ms ease-in-out;
                color: #41557b;

                &.active {
                    background-color: #ffffff;
                    color: #0145ff;
                    box-shadow: 1px 3px 6px -6px #898989;
                }
            }
        }

        .pricing-plans {
            display: flex;
            justify-content: center;
            // flex-wrap: wrap;
            gap: 80px;

            .plan {
                max-width: 540px;
                
                .plan-card {
                    max-width: max-content;
                    height: fit-content;
                    background-color: #eef3f7;
                    padding: 32px;
                    border-radius: 40px;
                    margin: auto;
                    // cursor: pointer;
                    text-align: center;
                    
                    .card {
                        position: relative;
                        height: 100%;
                        padding: 60px;
                        text-align: center;
                        background-color: #ffffff;
                        border-radius: 24px;
                        box-shadow: 0px 0px 16px -8px rgba(137, 137, 137, 0.6);
                        transition: all 250ms ease-in-out;

                        .discount-label {
                            background-color: #1acffc;
                            color: #ffffff;
                            font-weight: 700;
                            font-size: 14px;
                            padding: 12px 18px;
                            text-transform: uppercase;
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                            position: absolute;
                            top: -15px;
                            right: 50%;
                            transform: translate(50%, 0);

                            &::before,
                            &::after {
                                content: "";
                                position: absolute;
                                width: 10px;
                                height: 0;
                                border-bottom: 15px solid #349bf4;
                                top: 0;
                            }

                            &::before {
                                border-left: 10px solid transparent;
                                left: -10px;
                            }

                            &::after {
                                border-right: 10px solid transparent;
                                right: -10px;
                            }
                        }


                        .plan__title {
                            text-transform: uppercase;
                            font-size: 26px;
                            font-weight: 500;
                            margin-bottom: 32px;
                            display: block;
                        }

                        .price {
                            line-height: 1;
                            margin-bottom: 10px;

                            sup {
                                font-size: 22px;
                                font-weight: 600;
                                position: relative;
                                top: -40px;
                                right: 8px;
                                opacity: 0.5;
                            }

                            span {
                                font-size: 68px;
                                font-weight: 900;
                            }
                        }

                        .price-label {
                            display: block;
                            font-size: 18px;
                            font-weight: 600;
                            margin-bottom: 18px;
                            opacity: 0.5;
                        }

                        .credit-card {
                            margin: 0 auto;
                            margin-bottom: 10px;
                            width: 180px;
                        }

                        .desc {
                            max-width: 350px;
                            margin: 0 auto;
                            margin-bottom: 40px;
                            text-align: center;
                            display: block;
                            font-size: 22px;
                            font-weight: 400;
                            opacity: 0.5;
                        }

                        .benefits {
                            margin: 40px 0;

                            .item {
                                margin-bottom: 30px;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                gap: 10px;

                                ion-icon {
                                    font-size: 26px;
                                    color: #0bdaa9;
                                }

                                span {
                                    font-weight: 600;
                                    color: #142c5b;
                                }
                            }
                        }

                        .btn {
                            width: 100%;
                        }
                    }
                }

                &.discounted {
                    .plan-card .card {
                        background-color: #0145ff;
                        color: #fff;

                        .price {
                            sup {
                                opacity: 1;
                            }
                        }

                        .price-label,
                        .desc {
                            opacity: 1;
                        }

                        hr {
                            opacity: 0.7;
                        }

                        .benefits {
                            .item {
                                ion-icon {
                                    color: #fff;
                                }

                                span {
                                    color: #fff;
                                }
                            }
                        }


                        .btn {
                            background-color: transparent;
                            border: 2px solid #ffffff;
                            color: #ffffff;

                            &:hover {
                                background-color: #fff;
                                color: #0145ff;
                            }
                        }
                    }
                }

                .discount-message {
                    text-align: center;
                    display: block;
                    margin-top: 20px;
                    font-size: 22px;
                    padding: 0 80px;
                }
            }
        }
    }
}

.services-block {
    padding: 80px 0;
    margin-bottom: 40px;

    .wrapper {
        max-width: 1220px;
        margin: 0 auto;
        padding: 0 40px;

        .heading {
            margin: 0 auto;
            text-align: center;
            margin-bottom: 80px;

            .large-heading {
                text-transform: capitalize;
                font-size: 48px;
                font-weight: 900;
                margin-bottom: 20px;
                line-height: 1.4;
                color: #142c5b;
            }

            .label {
                font-size: 18px;
                font-weight: 500;
                color: #8695ad;

                .feature-count {
                    font-weight: 900;
                    color: #0145ff;
                }
            }
        }

        .services {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 100px;
            row-gap: 60px;

            .service-item {
                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    width: 65px;
                    height: 65px;
                    background-color: #ebfcf5;

                    ion-icon {
                        font-size: 32px;
                        color: #0bdaa9;
                    }
                }

                .service-title {
                    font-size: 24px;
                    font-weight: 700;
                    margin: 26px 0;
                    color: #142c5b;
                }

                .service-item-features {
                    .item {
                        margin-bottom: 20px;
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        
                        ion-icon {
                            font-size: 24px;
                            color: #05d385;
                        }

                        span {
                            font-size: 18px;
                            color: #142c5b;

                            &::first-letter {
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
        }
    }
}


@mixin marquee($duration: 20s, $direction: 'left', $value: 50%) {
    @keyframes marquee {
        to {
            @if $direction=='left' {
                transform: translateX((-$value));
            }

            @else {
                transform: translateX($value);
            }
        }
    }

    animation-name: marquee;
    animation-duration: $duration;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    white-space: nowrap;
}

.brands-block {
    padding: 80px 0;

    .wrapper {
        // max-width: 1220px;
        margin: 0 auto;
        padding: 0 40px;
        overflow: hidden;

        .heading {
            margin: 0 auto;
            text-align: center;
            margin-bottom: 40px;

            .label {
                font-size: 20px;
                font-weight: 500;
                color: #8695ad;
            }
        }

        .brands {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            gap: 60px;
            @include marquee(60s, left, 50%);
            .image {
                width: 180px;
                img {
                    width: 100%;
                }
            }
        }
    }
}



























































<?php class cpt_settings {

    static function community_permalink_structure($post_link, $post) {
        if ('community'===$post->post_type && 'publish'===$post->post_status) {
            $post_id=get_parent_id();

            $state=strtolower(get_field('state', $post_id));
            $city=strtolower(get_field('city', $post_id));

            // Replace spaces with dashes and URL encode the state and city names
            $state=urlencode(str_replace(' ', '-', $state));
            $city=urlencode(str_replace(' ', '-', $city));

            $post_link=str_replace('%state%', $state, $post_link);
            $post_link=str_replace('%city%', $city, $post_link);
        }

        return $post_link;
    }

    static function community_rewrite_rules() {
        add_rewrite_tag('%state%', '([^/]+)');
        add_rewrite_tag('%city%', '([^/]+)');
        add_rewrite_rule('^senior-living/([^/]+)/([^/]+)/([^/]+)/?$', 'index.php?post_type=community&state=$matches[1]&city=$matches[2]&name=$matches[3]', 'top');
    }


    //======================================================================
    // ADDING THE CITY AND STATE ACF FIELD DATA TO THE COMMUNITY
    //====================================================================== 
    static function add_city_and_state_to_permalink($permalink, $post_id, $leavename) {

        if (get_post_type($post_id)==='community') {

            $post=get_post($post_id);

            if ($post) {

                if (is_admin()) {
                    $post_id=get_parent_id();
                }

                $address=get_field('address', $post_id);

                if ($address) {
                    $state=strtolower($address['state_short']);
                    $city=prep_url($address['city']);

                    $permalink=str_replace('%state%', $state, $permalink);
                    $permalink=str_replace('%city%', $city, $permalink);

                    // $permalink = str_replace('senior-living/', "senior-living/$state/$city/", $permalink);
                }
            }
        }

        return $permalink;
    }

    //======================================================================
    // DISABLE GUTENBERG
    //======================================================================    
    static function prefix_disable_gutenberg($current_status, $post_type) {
        // Use your post type key instead of 'product'
        if ($post_type==='unit'|| $post_type==='place'
        ) return false;
        return $current_status;
    }

    //======================================================================
    // CREATE CUSTOM POST TYPE
    //======================================================================    
    static function units() {
        $labels=array('name'=> _x('Units', 'Event General Name', 'text_domain'),
            'singular_name'=> _x('Unit', 'Event Singular Name', 'text_domain'),
            'menu_name'=> __('Units', 'text_domain'),
            'name_admin_bar'=> __('Unit', 'text_domain'),
            'archives'=> __('Item Archives', 'text_domain'),
            'attributes'=> __('Item Attributes', 'text_domain'),
            'parent_item_colon'=> __('Parent Item:', 'text_domain'),
            'all_items'=> __('All Items', 'text_domain'),
            'add_new_item'=> __('Add New Item', 'text_domain'),
            'add_new'=> __('Add New', 'text_domain'),
            'new_item'=> __('New Item', 'text_domain'),
            'edit_item'=> __('Edit Item', 'text_domain'),
            'update_item'=> __('Update Item', 'text_domain'),
            'view_item'=> __('View Item', 'text_domain'),
            'view_items'=> __('View Items', 'text_domain'),
            'search_items'=> __('Search Item', 'text_domain'),
            'not_found'=> __('Not found', 'text_domain'),
            'not_found_in_trash'=> __('Not found in Trash', 'text_domain'),
            'featured_image'=> __('Featured Image', 'text_domain'),
            'set_featured_image'=> __('Set featured image', 'text_domain'),
            'remove_featured_image'=> __('Remove featured image', 'text_domain'),
            'use_featured_image'=> __('Use as featured image', 'text_domain'),
            'insert_into_item'=> __('Insert into item', 'text_domain'),
            'uploaded_to_this_item'=> __('Uploaded to this item', 'text_domain'),
            'items_list'=> __('Items list', 'text_domain'),
            'items_list_navigation'=> __('Items list navigation', 'text_domain'),
            'filter_items_list'=> __('Filter items list', 'text_domain'),
        );
        $args=array('label'=> __('Unit', 'text_domain'),
            'description'=> __('Description', 'text_domain'),
            'labels'=> $labels,
            'supports'=> ['title'],
            'hierarchical'=> false,
            'public'=> true,
            'show_ui'=> true,
            'show_in_menu'=> true,
            'menu_position'=> 5,
            'menu_icon'=> 'dashicons-admin-home',
            'show_in_admin_bar'=> true,
            'show_in_nav_menus'=> true,
            'can_export'=> true,
            'has_archive'=> true,
            'exclude_from_search'=> false,
            'publicly_queryable'=> true,
            'capability_type'=> 'page',
            'show_in_rest'=> true,
        );
        register_post_type('unit', $args);
    }

    //======================================================================
    // CREATE CUSTOM POST TYPE
    //======================================================================    
    static function amenities() {
        $labels=array('name'=> _x('Ameneties', 'Event General Name', 'text_domain'),
            'singular_name'=> _x('Amenity', 'Event Singular Name', 'text_domain'),
            'menu_name'=> __('Ameneties', 'text_domain'),
            'name_admin_bar'=> __('Unit', 'text_domain'),
            'archives'=> __('Item Archives', 'text_domain'),
            'attributes'=> __('Item Attributes', 'text_domain'),
            'parent_item_colon'=> __('Parent Item:', 'text_domain'),
            'all_items'=> __('All Items', 'text_domain'),
            'add_new_item'=> __('Add New Item', 'text_domain'),
            'add_new'=> __('Add New', 'text_domain'),
            'new_item'=> __('New Item', 'text_domain'),
            'edit_item'=> __('Edit Item', 'text_domain'),
            'update_item'=> __('Update Item', 'text_domain'),
            'view_item'=> __('View Item', 'text_domain'),
            'view_items'=> __('View Items', 'text_domain'),
            'search_items'=> __('Search Item', 'text_domain'),
            'not_found'=> __('Not found', 'text_domain'),
            'not_found_in_trash'=> __('Not found in Trash', 'text_domain'),
            'featured_image'=> __('Featured Image', 'text_domain'),
            'set_featured_image'=> __('Set featured image', 'text_domain'),
            'remove_featured_image'=> __('Remove featured image', 'text_domain'),
            'use_featured_image'=> __('Use as featured image', 'text_domain'),
            'insert_into_item'=> __('Insert into item', 'text_domain'),
            'uploaded_to_this_item'=> __('Uploaded to this item', 'text_domain'),
            'items_list'=> __('Items list', 'text_domain'),
            'items_list_navigation'=> __('Items list navigation', 'text_domain'),
            'filter_items_list'=> __('Filter items list', 'text_domain'),
        );
        $args=array('label'=> __('Amenity', 'text_domain'),
            'description'=> __('Description', 'text_domain'),
            'labels'=> $labels,
            'supports'=> ['title'],
            'hierarchical'=> false,
            'public'=> true,
            'show_ui'=> true,
            'show_in_menu'=> true,
            'menu_position'=> 5,
            'menu_icon'=> 'dashicons-admin-home',
            'show_in_admin_bar'=> true,
            'show_in_nav_menus'=> true,
            'can_export'=> true,
            'has_archive'=> true,
            'exclude_from_search'=> false,
            'publicly_queryable'=> true,
            'capability_type'=> 'page',
            'show_in_rest'=> true,
        );
        register_post_type('amenity', $args);
    }

    //======================================================================
    // CREATE CUSTOM POST TYPE
    //======================================================================    
    static function places() {
        $labels=array('name'=> _x('Places', 'Event General Name', 'text_domain'),
            'singular_name'=> _x('Place', 'Event Singular Name', 'text_domain'),
            'menu_name'=> __('Places', 'text_domain'),
            'name_admin_bar'=> __('Places', 'text_domain'),
            'archives'=> __('Item Archives', 'text_domain'),
            'attributes'=> __('Item Attributes', 'text_domain'),
            'parent_item_colon'=> __('Parent Item:', 'text_domain'),
            'all_items'=> __('All Items', 'text_domain'),
            'add_new_item'=> __('Add New Item', 'text_domain'),
            'add_new'=> __('Add New', 'text_domain'),
            'new_item'=> __('New Item', 'text_domain'),
            'edit_item'=> __('Edit Item', 'text_domain'),
            'update_item'=> __('Update Item', 'text_domain'),
            'view_item'=> __('View Item', 'text_domain'),
            'view_items'=> __('View Items', 'text_domain'),
            'search_items'=> __('Search Item', 'text_domain'),
            'not_found'=> __('Not found', 'text_domain'),
            'not_found_in_trash'=> __('Not found in Trash', 'text_domain'),
            'featured_image'=> __('Featured Image', 'text_domain'),
            'set_featured_image'=> __('Set featured image', 'text_domain'),
            'remove_featured_image'=> __('Remove featured image', 'text_domain'),
            'use_featured_image'=> __('Use as featured image', 'text_domain'),
            'insert_into_item'=> __('Insert into item', 'text_domain'),
            'uploaded_to_this_item'=> __('Uploaded to this item', 'text_domain'),
            'items_list'=> __('Items list', 'text_domain'),
            'items_list_navigation'=> __('Items list navigation', 'text_domain'),
            'filter_items_list'=> __('Filter items list', 'text_domain'),
        );
        $args=array('label'=> __('Places', 'text_domain'),
            'description'=> __('Description', 'text_domain'),
            'labels'=> $labels,
            'supports'=> ['title'],
            'hierarchical'=> false,
            'public'=> true,
            'show_ui'=> true,
            'show_in_menu'=> true,
            'menu_position'=> 5,
            'menu_icon'=> 'dashicons-location',
            'show_in_admin_bar'=> true,
            'show_in_nav_menus'=> true,
            'can_export'=> true,
            'has_archive'=> true,
            'exclude_from_search'=> false,
            'publicly_queryable'=> true,
            'capability_type'=> 'post',
            'show_in_rest'=> true,
        );
        register_post_type('place', $args);
    }

    //======================================================================
    // CREATE CUSTOM POST TYPE
    //======================================================================    
    static function communities() {
        $labels=array('name'=> _x('Communities', 'Event General Name', 'text_domain'),
            'singular_name'=> _x('Community', 'Event Singular Name', 'text_domain'),
            'menu_name'=> __('Communities', 'text_domain'),
            'name_admin_bar'=> __('Communities', 'text_domain'),
            'archives'=> __('Item Archives', 'text_domain'),
            'attributes'=> __('Item Attributes', 'text_domain'),
            'parent_item_colon'=> __('Parent Item:', 'text_domain'),
            'all_items'=> __('All Items', 'text_domain'),
            'add_new_item'=> __('Add New Item', 'text_domain'),
            'add_new'=> __('Add New', 'text_domain'),
            'new_item'=> __('New Item', 'text_domain'),
            'edit_item'=> __('Edit Item', 'text_domain'),
            'update_item'=> __('Update Item', 'text_domain'),
            'view_item'=> __('View Item', 'text_domain'),
            'view_items'=> __('View Items', 'text_domain'),
            'search_items'=> __('Search Item', 'text_domain'),
            'not_found'=> __('Not found', 'text_domain'),
            'not_found_in_trash'=> __('Not found in Trash', 'text_domain'),
            'featured_image'=> __('Featured Image', 'text_domain'),
            'set_featured_image'=> __('Set featured image', 'text_domain'),
            'remove_featured_image'=> __('Remove featured image', 'text_domain'),
            'use_featured_image'=> __('Use as featured image', 'text_domain'),
            'insert_into_item'=> __('Insert into item', 'text_domain'),
            'uploaded_to_this_item'=> __('Uploaded to this item', 'text_domain'),
            'items_list'=> __('Items list', 'text_domain'),
            'items_list_navigation'=> __('Items list navigation', 'text_domain'),
            'filter_items_list'=> __('Filter items list', 'text_domain'),
        );
        $args=array('label'=> __('Communities', 'text_domain'),
            'description'=> __('Description', 'text_domain'),
            'labels'=> $labels,
            'supports'=> ['title', 'editor', 'page-attributes'],
            'hierarchical'=> true,
            'public'=> true,
            'show_ui'=> true,
            'show_in_menu'=> true,
            'menu_position'=> 5,
            'menu_icon'=> 'dashicons-admin-multisite',
            'show_in_admin_bar'=> true,
            'show_in_nav_menus'=> true,
            'can_export'=> true,
            'has_archive'=> false,
            'exclude_from_search'=> false,
            'publicly_queryable'=> true,
            'rewrite'=> array('slug'=> 'senior-living/%state%/%city%'),
            'capability_type'=> 'page',
            'show_in_rest'=> true,
        );
        register_post_type('community', $args);
    }
}
