body {
    font-family: 'Lato', sans-serif;
    background-color: #fcfeff;
}

.pricing-plan {
    padding: 80px 0;
    margin-bottom: 80px;

    .wrapper {
        max-width: 1220px;
        margin: 0 auto;
        padding: 0 40px;

        .content {
            max-width: 700px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 80px;

            .large-heading {
                text-transform: capitalize;
                font-size: 58px;
                font-weight: 900;
                margin-bottom: 20px;
                line-height: 1.4;
                color: #142c5b;
            }

            .label {
                font-size: 18px;
                font-weight: 500;
                color: #8695ad;
            }
        }

        .pricing-tab {
            text-align: center;
            background-color: #eff6fc;
            padding: 8px;
            max-width: max-content;
            margin: 0 auto;
            border-radius: 16px;
            margin-bottom: 80px;

            .btn {
                padding: 14px 30px;
                text-transform: capitalize;
                border-radius: 8px;
                font-weight: 600;
                transition: background-color 200ms ease-in-out;
                color: #41557b;

                &.active {
                    background-color: #ffffff;
                    color: #0145ff;
                    box-shadow: 1px 3px 6px -6px #898989;
                }
            }
        }

        .pricing-plans {
            display: flex;
            justify-content: center;
            // flex-wrap: wrap;
            gap: 80px;

            .plan {
                max-width: 540px;
                
                .plan-card {
                    max-width: max-content;
                    height: fit-content;
                    background-color: #eef3f7;
                    padding: 32px;
                    border-radius: 40px;
                    margin: auto;
                    // cursor: pointer;
                    text-align: center;
                    
                    .card {
                        position: relative;
                        height: 100%;
                        padding: 60px;
                        text-align: center;
                        background-color: #ffffff;
                        border-radius: 24px;
                        box-shadow: 0px 0px 16px -8px rgba(137, 137, 137, 0.6);
                        transition: all 250ms ease-in-out;

                        .discount-label {
                            background-color: #1acffc;
                            color: #ffffff;
                            font-weight: 700;
                            font-size: 14px;
                            padding: 12px 18px;
                            text-transform: uppercase;
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                            position: absolute;
                            top: -15px;
                            right: 50%;
                            transform: translate(50%, 0);

                            &::before,
                            &::after {
                                content: "";
                                position: absolute;
                                width: 10px;
                                height: 0;
                                border-bottom: 15px solid #349bf4;
                                top: 0;
                            }

                            &::before {
                                border-left: 10px solid transparent;
                                left: -10px;
                            }

                            &::after {
                                border-right: 10px solid transparent;
                                right: -10px;
                            }
                        }


                        .plan__title {
                            text-transform: uppercase;
                            font-size: 26px;
                            font-weight: 500;
                            margin-bottom: 32px;
                            display: block;
                        }

                        .price {
                            line-height: 1;
                            margin-bottom: 10px;

                            sup {
                                font-size: 22px;
                                font-weight: 600;
                                position: relative;
                                top: -40px;
                                right: 8px;
                                opacity: 0.5;
                            }

                            span {
                                font-size: 68px;
                                font-weight: 900;
                            }
                        }

                        .price-label {
                            display: block;
                            font-size: 18px;
                            font-weight: 600;
                            margin-bottom: 18px;
                            opacity: 0.5;
                        }

                        .credit-card {
                            margin: 0 auto;
                            margin-bottom: 10px;
                            width: 180px;
                        }

                        .desc {
                            max-width: 350px;
                            margin: 0 auto;
                            margin-bottom: 40px;
                            text-align: center;
                            display: block;
                            font-size: 22px;
                            font-weight: 400;
                            opacity: 0.5;
                        }

                        .benefits {
                            margin: 40px 0;

                            .item {
                                margin-bottom: 30px;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                gap: 10px;

                                ion-icon {
                                    font-size: 26px;
                                    color: #0bdaa9;
                                }

                                span {
                                    font-weight: 600;
                                    color: #142c5b;
                                }
                            }
                        }

                        .btn {
                            width: 100%;
                        }
                    }
                }

                &.discounted {
                    .plan-card .card {
                        background-color: #0145ff;
                        color: #fff;

                        .price {
                            sup {
                                opacity: 1;
                            }
                        }

                        .price-label,
                        .desc {
                            opacity: 1;
                        }

                        hr {
                            opacity: 0.7;
                        }

                        .benefits {
                            .item {
                                ion-icon {
                                    color: #fff;
                                }

                                span {
                                    color: #fff;
                                }
                            }
                        }


                        .btn {
                            background-color: transparent;
                            border: 2px solid #ffffff;
                            color: #ffffff;

                            &:hover {
                                background-color: #fff;
                                color: #0145ff;
                            }
                        }
                    }
                }

                .discount-message {
                    text-align: center;
                    display: block;
                    margin-top: 20px;
                    font-size: 22px;
                    padding: 0 80px;
                }
            }
        }
    }
}

.services-block {
    padding: 80px 0;
    margin-bottom: 40px;

    .wrapper {
        max-width: 1220px;
        margin: 0 auto;
        padding: 0 40px;

        .heading {
            margin: 0 auto;
            text-align: center;
            margin-bottom: 80px;

            .large-heading {
                text-transform: capitalize;
                font-size: 48px;
                font-weight: 900;
                margin-bottom: 20px;
                line-height: 1.4;
                color: #142c5b;
            }

            .label {
                font-size: 18px;
                font-weight: 500;
                color: #8695ad;

                .feature-count {
                    font-weight: 900;
                    color: #0145ff;
                }
            }
        }

        .services {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 100px;
            row-gap: 60px;

            .service-item {
                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    width: 65px;
                    height: 65px;
                    background-color: #ebfcf5;

                    ion-icon {
                        font-size: 32px;
                        color: #0bdaa9;
                    }
                }

                .service-title {
                    font-size: 24px;
                    font-weight: 700;
                    margin: 26px 0;
                    color: #142c5b;
                }

                .service-item-features {
                    .item {
                        margin-bottom: 20px;
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        
                        ion-icon {
                            font-size: 24px;
                            color: #05d385;
                        }

                        span {
                            font-size: 18px;
                            color: #142c5b;

                            &::first-letter {
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
        }
    }
}


.testimonials {
    padding: 80px 0;
    margin-bottom: 440px;

    .wrapper {
        max-width: 1220px;
        margin: 0 auto;
        padding: 0 40px;
    }

    .row {
        position: relative;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 120px;
    }
    
    .col {
        position: relative;

        &::before,
        &::after {
            content: "";
            display: block;
            width: 250px;
            height: 250px;
            background-color: #ebfcf5;
            position: absolute;
            z-index: -1;
        }

        &::before {
            left: -30px;
            top: -30px;
            border-bottom-left-radius: 80px;
        }

        &::after {
            right: -30px;
            bottom: -30px;
            border-top-right-radius: 80px;
        }
    }

    .image {
        max-width: 400px;
        width: 100%;
        height: 500px;
        overflow: hidden;
        border-top-right-radius: 80px;
        border-bottom-left-radius: 80px;
    }

    .testimonial-content {
        .label {
            position: relative;
            padding-left: 50px;
            display: block;
            text-transform: capitalize;
            font-size: 19px;
            margin-bottom: 20px;

            &::before {
                content: "";
                position: absolute;
                width: 26px;
                height: 2px;
                background-color: #000;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
            }
        }

        .title {
            font-size: 45px;
            font-weight: 800;
            margin-bottom: 36px;
            span {
                display: block;
                line-height: 1.2;
                &::first-letter {
                    text-transform: uppercase;
                }
            }
        }

        blockquote {
            font-size: 22px;
            opacity: 0.5;
            font-style: italic;
            margin-bottom: 58px;
            line-height: 1.8;
        }

        .customer {
            display: flex;
            align-items: center;
            gap: 28px;
            .avatar {
                max-width: 80px;
                width: 100%;
                height: 80px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    height: inherit;
                    object-fit: cover;
                }
            }

            .content {
                span {
                    display: block;
                    text-transform: capitalize;
                }
                .name {
                    font-size: 22px;
                    font-weight: 600;
                    margin-bottom: 8px;
                }

                .role {
                    font-size: 20px;
                    opacity: 0.6;
                }
            }
        }
    }
}
